In [53]:
import pandas as pd
import numpy as np
from pandas import DataFrame
from typing import Optional

In [54]:
def load_data(file_name: str) -> Optional[DataFrame]:
  '''load the dataset  from csv file
      Args:
          file_name: str: file name of the dataset
      Returns: 
          DataFrame: dataset
  '''
  try:
    return pd.read_csv(file_name)
  except FileNotFoundError:
    print(f'File not found at {file_name}')
    return None

In [55]:
data = load_data('../data/raw/agric_survey_data.csv')

In [56]:
data.head()

,Unnamed: 0,Field_ID,Elevation,Latitude,Longitude,Location,Slope,Rainfall,Min_temperature_C,Max_temperature_C,Ave_temps,Soil_fertility,Soil_type,pH,Pollution_level,Plot_size,Annual_yield,Crop_type,Standard_yield
0,0,40734,786.05580,-7.389911,-7.556202,Rural_Akatsi,14.795113,1125.2,-3.1,33.1,15.00,0.62,Sandy,6.169393,0.085267,1.3,0.751354,cassava,0.577964
1,1,30629,674.33410,-7.736849,-1.051539,Rural_Sokoto,11.374611,1450.7,-3.9,30.6,13.35,0.64,Volcanic,5.676648,0.399684,2.2,1.069865,cassava,0.486302
2,2,39924,826.53390,-9.926616,0.115156,Rural_Sokoto,11.339692,2208.9,-1.8,28.4,13.30,0.69,Volcanic,5.331993,0.358029,3.4,2.208801,tea,0.649647
3,3,5754,574.94617,-2.420131,-6.592215,Rural_Kilimani,7.109855,328.8,-5.8,32.2,13.20,0.54,Loamy,5.328150,0.286687,2.4,1.277635,cassava,0.532348
4,4,14146,886.35300,-3.055434,-7.952609,Rural_Kilimani,55.007656,785.2,-2.5,31.0,14.25,0.72,Sandy,5.721234,0.043190,1.5,0.832614,wheat,0.555076

In [57]:
data.shape

(5654, 19)

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5654 entries, 0 to 5653
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5654 non-null   int64
 1   Field_ID           5654 non-null   int64
 2   Elevation          5654 non-null   float64
 3   Latitude           5654 non-null   float64
 4   Longitude          5654 non-null   float64
 5   Location           5654 non-null   object
 6   Slope              5654 non-null   float64
 7   Rainfall           5654 non-null   float64
 8   Min_temperature_C  5654 non-null   float64
 9   Max_temperature_C  5654 non-null   float64
 10  Ave_temps          5654 non-null   float64
 11  Soil_fertility     5654 non-null   float64
 12  Soil_type          5654 non-null   object
 13  pH                 5654 non-null   float64
 14  Pollution_level    5654 non-null   float64
 15  Plot_size          5654 non-null   float64
 16  Annual_yield       5654 non-null   float64
 17  Crop_type          5654 non-null   object
 18  Standard_yield     5654 non-null   float64
dtypes: float64(14), int64(2), object(3)
memory usage: 839.4+ KB

In [59]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,5654.0,2826.500000,1632.313542,0.000000e+00,1413.250000,2826.500000,4239.750000,5653.000000
Field_ID,5654.0,22632.733817,13133.762515,1.000000e+00,11463.250000,22615.500000,34077.750000,45153.000000
Elevation,5654.0,637.790709,173.573934,3.591080e+01,525.611413,663.058585,764.299550,1122.252100
Latitude,5654.0,-7.026330,3.515839,-1.500904e+01,-9.674298,-7.205178,-4.182984,0.260756
Longitude,5654.0,-4.365755,2.706603,-1.001572e+01,-6.708209,-4.463785,-2.015527,1.696276
Slope,5654.0,11.742669,9.540599,9.731625e-02,4.860120,9.104626,15.953242,79.865960
Rainfall,5654.0,1201.943244,499.782824,1.031000e+02,773.175000,1200.600000,1625.425000,2470.900000
Min_temperature_C,5654.0,-4.411956,1.534330,-9.700000e+00,-5.500000,-4.300000,-3.300000,-0.100000
Max_temperature_C,5654.0,30.857057,1.884682,2.450000e+01,29.600000,30.800000,32.100000,37.800000
Ave_temps,5654.0,13.222550,0.801636,1.025000e+01,12.700000,13.200000,13.750000,17.300000
Soil_fertility,5654.0,0.619308,0.044791,5.100000e-01,0.590000,0.620000,0.650000,0.820000
pH,5654.0,5.607073,0.789215,3.700337e+00,5.030630,5.602896,6.162058,7.499959
Pollution_level,5654.0,0.223192,0.223798,1.013245e-10,0.051337,0.164706,0.305889,0.995413
Plot_size,5654.0,3.923965,3.463855,5.000000e-01,1.500000,2.800000,4.700000,15.000000
Annual_yield,5654.0,2.090399,1.935000,1.722257e-01,0.767032,1.446648,2.530662,12.695224
Standard_yield,5654.0,0.534405,0.111806,1.707173e-01,0.460386,0.528836,0.599942,0.898037

In [60]:
def rename_observation(data:DataFrame) -> DataFrame:
  '''rename the observation in the dataset
      Args:
          data: DataFrame: dataset
          
      Returns: 
          DataFrame: dataset
  '''
  for col in data.columns:
    if data[col].dtype == 'object':
      data[col] = data[col].str.lower().str.strip().str.replace(' ', '_').replace('-', '_')
  return data

In [61]:
data = rename_observation(data)
data.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
Field_ID,40734,30629,39924,5754,14146
Elevation,786.0558,674.3341,826.5339,574.94617,886.353
Latitude,-7.389911,-7.736849,-9.926616,-2.420131,-3.055434
Longitude,-7.556202,-1.051539,0.115156,-6.592215,-7.952609
Location,rural_akatsi,rural_sokoto,rural_sokoto,rural_kilimani,rural_kilimani
Slope,14.795113,11.374611,11.339692,7.109855,55.007656
Rainfall,1125.2,1450.7,2208.9,328.8,785.2
Min_temperature_C,-3.1,-3.9,-1.8,-5.8,-2.5
Max_temperature_C,33.1,30.6,28.4,32.2,31.0
Ave_temps,15.0,13.35,13.3,13.2,14.25
Soil_fertility,0.62,0.64,0.69,0.54,0.72
Soil_type,sandy,volcanic,volcanic,loamy,sandy
pH,6.169393,5.676648,5.331993,5.32815,5.721234
Pollution_level,0.085267,0.399684,0.358029,0.286687,0.04319
Plot_size,1.3,2.2,3.4,2.4,1.5
Annual_yield,0.751354,1.069865,2.208801,1.277635,0.832614
Crop_type,cassava,cassava,tea,cassava,wheat
Standard_yield,0.577964,0.486302,0.649647,0.532348,0.555076

In [62]:
data.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
Field_ID,40734,30629,39924,5754,14146
Elevation,786.0558,674.3341,826.5339,574.94617,886.353
Latitude,-7.389911,-7.736849,-9.926616,-2.420131,-3.055434
Longitude,-7.556202,-1.051539,0.115156,-6.592215,-7.952609
Location,rural_akatsi,rural_sokoto,rural_sokoto,rural_kilimani,rural_kilimani
Slope,14.795113,11.374611,11.339692,7.109855,55.007656
Rainfall,1125.2,1450.7,2208.9,328.8,785.2
Min_temperature_C,-3.1,-3.9,-1.8,-5.8,-2.5
Max_temperature_C,33.1,30.6,28.4,32.2,31.0
Ave_temps,15.0,13.35,13.3,13.2,14.25
Soil_fertility,0.62,0.64,0.69,0.54,0.72
Soil_type,sandy,volcanic,volcanic,loamy,sandy
pH,6.169393,5.676648,5.331993,5.32815,5.721234
Pollution_level,0.085267,0.399684,0.358029,0.286687,0.04319
Plot_size,1.3,2.2,3.4,2.4,1.5
Annual_yield,0.751354,1.069865,2.208801,1.277635,0.832614
Crop_type,cassava,cassava,tea,cassava,wheat
Standard_yield,0.577964,0.486302,0.649647,0.532348,0.555076

In [63]:
def rename_columns(data:DataFrame) -> DataFrame:
  '''rename the columns in the dataset
      Args:
          data: DataFrame: dataset
          
      Returns: 
          DataFrame: dataset
  '''
  data.columns = data.columns.str.lower()
  return data

In [64]:
data = rename_columns(data)
data.head().T

,0,1,2,3,4
unnamed: 0,0,1,2,3,4
field_id,40734,30629,39924,5754,14146
elevation,786.0558,674.3341,826.5339,574.94617,886.353
latitude,-7.389911,-7.736849,-9.926616,-2.420131,-3.055434
longitude,-7.556202,-1.051539,0.115156,-6.592215,-7.952609
location,rural_akatsi,rural_sokoto,rural_sokoto,rural_kilimani,rural_kilimani
slope,14.795113,11.374611,11.339692,7.109855,55.007656
rainfall,1125.2,1450.7,2208.9,328.8,785.2
min_temperature_c,-3.1,-3.9,-1.8,-5.8,-2.5
max_temperature_c,33.1,30.6,28.4,32.2,31.0
ave_temps,15.0,13.35,13.3,13.2,14.25
soil_fertility,0.62,0.64,0.69,0.54,0.72
soil_type,sandy,volcanic,volcanic,loamy,sandy
ph,6.169393,5.676648,5.331993,5.32815,5.721234
pollution_level,0.085267,0.399684,0.358029,0.286687,0.04319
plot_size,1.3,2.2,3.4,2.4,1.5
annual_yield,0.751354,1.069865,2.208801,1.277635,0.832614
crop_type,cassava,cassava,tea,cassava,wheat
standard_yield,0.577964,0.486302,0.649647,0.532348,0.555076

In [65]:
data.columns

Index(['unnamed: 0', 'field_id', 'elevation', 'latitude', 'longitude',
       'location', 'slope', 'rainfall', 'min_temperature_c',
       'max_temperature_c', 'ave_temps', 'soil_fertility', 'soil_type', 'ph',
       'pollution_level', 'plot_size', 'annual_yield', 'crop_type',
       'standard_yield'],
      dtype='object')

In [66]:
def drop_columns(data:DataFrame, columns: list) -> DataFrame:
  '''drop columns in the dataset
      Args:
          data: DataFrame: dataset
          columns: list: list of columns to be dropped
          
      Returns: 
          DataFrame: dataset
  '''
  for col in columns:
    if col in data.columns:
      data = data.drop(col, axis=1) 
  return data

In [67]:
col_list = ['unnamed: 0','field_id', 'standard_yield']
data = drop_columns(data, col_list)
data.head().T

,0,1,2,3,4
elevation,786.0558,674.3341,826.5339,574.94617,886.353
latitude,-7.389911,-7.736849,-9.926616,-2.420131,-3.055434
longitude,-7.556202,-1.051539,0.115156,-6.592215,-7.952609
location,rural_akatsi,rural_sokoto,rural_sokoto,rural_kilimani,rural_kilimani
slope,14.795113,11.374611,11.339692,7.109855,55.007656
rainfall,1125.2,1450.7,2208.9,328.8,785.2
min_temperature_c,-3.1,-3.9,-1.8,-5.8,-2.5
max_temperature_c,33.1,30.6,28.4,32.2,31.0
ave_temps,15.0,13.35,13.3,13.2,14.25
soil_fertility,0.62,0.64,0.69,0.54,0.72
soil_type,sandy,volcanic,volcanic,loamy,sandy
ph,6.169393,5.676648,5.331993,5.32815,5.721234
pollution_level,0.085267,0.399684,0.358029,0.286687,0.04319
plot_size,1.3,2.2,3.4,2.4,1.5
annual_yield,0.751354,1.069865,2.208801,1.277635,0.832614
crop_type,cassava,cassava,tea,cassava,wheat

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5654 entries, 0 to 5653
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   elevation          5654 non-null   float64
 1   latitude           5654 non-null   float64
 2   longitude          5654 non-null   float64
 3   location           5654 non-null   object
 4   slope              5654 non-null   float64
 5   rainfall           5654 non-null   float64
 6   min_temperature_c  5654 non-null   float64
 7   max_temperature_c  5654 non-null   float64
 8   ave_temps          5654 non-null   float64
 9   soil_fertility     5654 non-null   float64
 10  soil_type          5654 non-null   object
 11  ph                 5654 non-null   float64
 12  pollution_level    5654 non-null   float64
 13  plot_size          5654 non-null   float64
 14  annual_yield       5654 non-null   float64
 15  crop_type          5654 non-null   object
dtypes: float64(13), object(3)
memory usage: 706.9+ KB

In [69]:
data.isna().sum()

elevation            0
latitude             0
longitude            0
location             0
slope                0
rainfall             0
min_temperature_c    0
max_temperature_c    0
ave_temps            0
soil_fertility       0
soil_type            0
ph                   0
pollution_level      0
plot_size            0
annual_yield         0
crop_type            0
dtype: int64

In [70]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
elevation,5654.0,637.790709,173.573934,3.591080e+01,525.611413,663.058585,764.299550,1122.252100
latitude,5654.0,-7.026330,3.515839,-1.500904e+01,-9.674298,-7.205178,-4.182984,0.260756
longitude,5654.0,-4.365755,2.706603,-1.001572e+01,-6.708209,-4.463785,-2.015527,1.696276
slope,5654.0,11.742669,9.540599,9.731625e-02,4.860120,9.104626,15.953242,79.865960
rainfall,5654.0,1201.943244,499.782824,1.031000e+02,773.175000,1200.600000,1625.425000,2470.900000
min_temperature_c,5654.0,-4.411956,1.534330,-9.700000e+00,-5.500000,-4.300000,-3.300000,-0.100000
max_temperature_c,5654.0,30.857057,1.884682,2.450000e+01,29.600000,30.800000,32.100000,37.800000
ave_temps,5654.0,13.222550,0.801636,1.025000e+01,12.700000,13.200000,13.750000,17.300000
soil_fertility,5654.0,0.619308,0.044791,5.100000e-01,0.590000,0.620000,0.650000,0.820000
ph,5654.0,5.607073,0.789215,3.700337e+00,5.030630,5.602896,6.162058,7.499959
pollution_level,5654.0,0.223192,0.223798,1.013245e-10,0.051337,0.164706,0.305889,0.995413
plot_size,5654.0,3.923965,3.463855,5.000000e-01,1.500000,2.800000,4.700000,15.000000
annual_yield,5654.0,2.090399,1.935000,1.722257e-01,0.767032,1.446648,2.530662,12.695224

In [71]:
def outliers(data:DataFrame) -> DataFrame:
  '''remove outliers in the dataset
      Args:
          data: DataFrame: dataset
          
      Returns: 
          DataFrame: dataset
  '''
  for col in data.columns:
    if data[col].dtype != 'object':
      data = data[np.abs(data[col] - data[col].mean()) <= (3 * data[col].std())]
  return data

In [72]:
data = outliers(data) 
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5245 entries, 0 to 5653
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   elevation          5245 non-null   float64
 1   latitude           5245 non-null   float64
 2   longitude          5245 non-null   float64
 3   location           5245 non-null   object
 4   slope              5245 non-null   float64
 5   rainfall           5245 non-null   float64
 6   min_temperature_c  5245 non-null   float64
 7   max_temperature_c  5245 non-null   float64
 8   ave_temps          5245 non-null   float64
 9   soil_fertility     5245 non-null   float64
 10  soil_type          5245 non-null   object
 11  ph                 5245 non-null   float64
 12  pollution_level    5245 non-null   float64
 13  plot_size          5245 non-null   float64
 14  annual_yield       5245 non-null   float64
 15  crop_type          5245 non-null   object
dtypes: float64(13), object(3)
memory usage: 696.6+ KB

In [73]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
elevation,5245.0,638.102474,171.500220,1.172130e+02,522.064700,662.820900,763.845600,1122.252100
latitude,5245.0,-7.044959,3.532699,-1.500904e+01,-9.701332,-7.259246,-4.172846,0.260756
longitude,5245.0,-4.437210,2.679017,-1.001572e+01,-6.754381,-4.538111,-2.182197,1.579156
slope,5245.0,11.314567,8.084564,9.731625e-02,5.125341,9.203077,15.636356,40.084100
rainfall,5245.0,1199.978398,499.289411,1.279000e+02,772.300000,1200.400000,1627.900000,2470.900000
min_temperature_c,5245.0,-4.410772,1.511419,-8.800000e+00,-5.500000,-4.300000,-3.300000,-0.100000
max_temperature_c,5245.0,30.854395,1.852900,2.550000e+01,29.600000,30.800000,32.100000,36.400000
ave_temps,5245.0,13.221811,0.786973,1.085000e+01,12.700000,13.200000,13.750000,15.600000
soil_fertility,5245.0,0.617809,0.042481,5.100000e-01,0.590000,0.620000,0.650000,0.740000
ph,5245.0,5.613630,0.789236,3.700337e+00,5.039035,5.607785,6.170136,7.499959
pollution_level,5245.0,0.214368,0.209580,1.013245e-10,0.050040,0.160580,0.300533,0.898847
plot_size,5245.0,3.670715,3.055115,5.000000e-01,1.500000,2.800000,4.600000,14.400000
annual_yield,5245.0,1.928635,1.606842,1.722257e-01,0.773575,1.433817,2.430602,7.630064

In [74]:
data = data.to_csv('../data/processed/agric_survey_data.csv', index=False)